{% extends 'base.html' %}
{% load static %}
{% block content %}
            <div class="row pt-4" id="whoami">
                {% if whoami %}
                <div class="card mb-3 border p-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'imgs/ja_edited_3.webp' %}" class="img-fluid rounded-start"
                                alt="zdjęcie Jakub Kościelnego">
                        </div>
                        <div class="col-md-8 p-3 ">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{whoami.content.title}}

                                </h5>
                                <p class="card-text" style="text-align: justify;">

                                    {{whoami.content.first_info}}
                                <ul>
                                    {% for studied in whoami.content.studied_about %}
                                    <li>{{studied}}</li>
                                    {% endfor %}
                                    <li style="list-style-type:none">
                                        <ul>
                                            {% for language in whoami.content.programming_languages %}
                                            <li>{{language}}</li>
                                            {% endfor %}

                                        </ul>
                                    </li>

                                </ul>

                                {{whoami.content.end_info}}

                                </p>
                                <p class="card-text"><small class="text-muted">
                                        {{whoami.content.date_of_adding}}

                                    </small></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row pt-4 d-none" id="offer">

                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title ">What I offer?</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary"></a>
                    </div>
                </div>

            </div>

            <div class="row pt-4 d-none" id="cv">
                {% if cv%}
                <div class="rounded ">
                    <! - introduction ->
                        <div class="row">
                            <div class="col-4 p-0">
                                <img src="{% static 'imgs/ja_edited_3.webp' %}" style="max-height: 300px;"
                                    class="img-fluid rounded" alt="Jakub Kościelny">
                            </div>
                            <div class="col-8 p-4">
                                <h5 class="card-title text-center"> - CV - </h5>
                                <div>
                                    <h2> Jakub Kościelny </h2>
                                    <h5>
                                        E-mail: <b> kuba1095@gmail.com </b>
                                    </h5>
                                    <h5>
                                        {{cv.content.telephone_text}} <b> +48 500 471 619 </b>
                                    </h5>
                                    <h5>
                                        {{cv.content.date_of_birth}}<b> 02/23/1999 </b>
                                    </h5>
                                    <h5>
                                        {{cv.content.town}}:<b> Kaczyce </b>
                                    </h5>
                                </div>
                            </div>

                        </div>
                        <! - professional experience ->
                            <div class="row mb-4">
                                <div class="col-12 text-center border-bottom fw-bold mt-4">
                                    <h4> {{cv.content.work_experience_title}} </h4>
                                </div>
                            </div>
                            <div class="row ps-4 pe-4">

                                <ol class="list-group">


                                    {% for experience in cv.content.work_experience%}
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-start mb-3 border-top">

                                        <div class="ms-2 me-auto">
                                            <div class="fs-6">{{experience.period}}</div>
                                            <div class="fw-bold">{{experience.title}}</div>
                                            {{experience.where}}
                                        </div>

                                    </li>
                                    {% endfor %}
                                </ol>

                            </div>

                            <! - education ->
                                <div class="row mb-4 page">
                                    <div class="col-12 text-center border-bottom fw-bold mt-4">
                                        <h4> {{cv.content.education_title}} </h4>
                                    </div>
                                </div>

                                <div class="row ps-4 pe-4">
                                    <ol class="list-group">

                                        {% for education in cv.content.education %}
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-start mb-3">

                                            <div class="ms-2 me-auto">
                                                <div class="fs-6">{{education.period}}</div>
                                                <div class="fw-bold">{{education.where}}</div>
                                                {% if education.major %}<p class="m-0"> {{education.major_title}}:
                                                    {{education.major}} </p>{% endif %}
                                                {% if education.specialization%}<p class="m-0">
                                                    {{education.specialization_title}}: {{education.specialization}}
                                                </p>{% endif %}
                                                <p class="m-0"> {{education.education_level_title}}:
                                                    {{education.education_level}} </p>
                                            </div>

                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>

                                <! - skills ->
                                    <div class="row mb-4 page">
                                        <div class="col-12 text-center border-bottom fw-bold mt-4">
                                            <h4> {{cv.content.skills_title}} </h4>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <! - programmatically ->
                                            <div class="col-md-3 col-sm-6">
                                                {% for skill in cv.content.skills.programming %}
                                                <p class="border rounded m-2 p-2"> {{skill}}</p>
                                                {% endfor %}

                                            </div>
                                            <! - operationally ->
                                                <div class="col-md-3 col-sm-6">
                                                    {% for skill in cv.content.skills.systems %}
                                                    <p class="border rounded m-2 p-2"> {{skill}}</p>
                                                    {% endfor %}
                                                </div>
                                                <! - network ->
                                                    <div class="col-md-3 col-sm-6">
                                                        {% for skill in cv.content.skills.network %}
                                                        <p class="border rounded m-2 p-2"> {{skill}}</p>
                                                        {% endfor %}

                                                    </div>
                                                    <! - other ->
                                                        <div class="col-md-3 col-sm-6">
                                                            {% for skill in cv.content.skills.others %}
                                                            <p class="border rounded m-2 p-2"> {{skill}}</p>
                                                            {% endfor %}

                                                        </div>




                                    </div>


                                    <! - trainings, courses, certificates ->
                                        <div class="row mb-4 page">
                                            <div class="col-12 text-center border-bottom fw-bold mt-4">
                                                <h4> {{cv.content.training_courses_title}} </h4>
                                            </div>
                                        </div>

                                        <div class="row ps-4 pe-4">
                                            <ol class="list-group">

                                                {% for training_course in cv.content.training_courses %}
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-start mb-3 border-top">

                                                    <div class="ms-2 me-auto">
                                                        <div class="fs-6"> {{training_course.date}} </div>
                                                        <div class="fw-bold"> {{training_course.name}} </div>

                                                    </div>

                                                </li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                        <! - interests ->
                                            <div class="row mb-4 page">
                                                <div class="col-12 text-center border-bottom fw-bold mt-4">
                                                    <h4> {{cv.content.interests_title}} </h4>
                                                </div>
                                            </div>
                                            <div class="row ps-2 pe-2">
                                                {% for interest in cv.content.interests %}
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="border rounded p-2 m-1"> {{interest}} </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <! - links ->
                                                <div class="row mb-4 disapear">
                                                    <div class="col-12 text-center border-bottom fw-bold mt-4">
                                                        <h4> {{cv.content.links_title}} </h4>
                                                    </div>
                                                </div>
                                                <div class="row p-4 text-center">
                                                    <div class="col-4">

                                                        <a class="btn btn-dark"
                                                            href="{{cv.content.links.github}}">GitHub<i
                                                                class="bi bi-github"></i></a>
                                                    </div>

                                                    <div class="col-4">

                                                        <a class="btn btn-dark"
                                                            href="{{cv.content.links.microsoft}}">Microsoft<i
                                                                class="bi bi-microsoft"></i></a>
                                                    </div>

                                                    <div class="col-4">

                                                        <a class="btn btn-dark"
                                                            href="{{cv.content.links.linkedin}}">Linkedin<i
                                                                class="bi bi-linkedin"></i></a>
                                                    </div>

                                                </div>
                                                <! - consent to data processing ->
                </div>
                {% endif %}
            </div>

            <div class="row pt-4 d-none g-4" id="contact">
                <div class="col-sm-6">
                    <div class="card h-100">
                        <img src="{% static 'imgs/calling.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title ">
                                {% if contact %}
                                {{contact.content.phone_number_title}}
                                {% endif %}
                            </h5>
                            <p class="card-text ">
                                {% if contact %}
                                {{contact.content.phone_number_info}}
                                {% endif %}
                            </p>
                            <a href="tel:+48500471619" class="btn btn-primary">
                                {% if contact %}
                                {{contact.content.phone_number}}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100">
                        <img src="{% static 'imgs/email.webp' %}" class="card-img-top" alt="zdjęcie komputera z mailem">
                        <div class="card-body">
                            <h5 class="card-title ">
                                {% if contact %}
                                {{contact.content.email_title}}
                                {% endif %}
                            </h5>
                            <p class="card-text ">
                                {% if contact %}
                                {{contact.content.email_info}}
                                {% endif %}
                            </p>
                            <a href="mailto:kuba1095@gmail.com" class="btn btn-primary">
                                {% if contact %}
                                {{contact.content.email}}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>


            </div>
{% endblock %}

