<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Jakub Kościelny</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" >
</head>

<body >
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
            <div class="container">
              <a class="navbar-brand" href="#">Jakub Kościelny</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" aria-current="page" href="#whoami" id="one">{{nav.whoami}}</a>


                  <a class="nav-link d-none" href="#offer" id="two" >Co oferuję</a>


                  <a class="nav-link" href="#cv" id="three">{{nav.cv}}</a>


                  <a class="nav-link" href="#contact" id="four">{{nav.contact}}</a>


                </div>
                <div id="czas" class="text-light ms-auto me-3">
                    00:00:00
                 </div>
                <div class="me-lg-0 me-sm-5">
                    <a href="{% url 'lang_pl' %}" class="me-1 btn btn-light" style="background-image: linear-gradient(white 50%, red 50%);" id="to-pl">PL</a>
                    <a href="{% url 'lang_en' %}" class="btn btn-light" id="to-en">ENG</a>
                </div>
             
              </div>
              
            </div>
          </nav>

    </header>
    <main>
        <section class="container p-0">


                <div class="row pt-4" id="whoami">
                    {% if whoami %}
                    <div class="card mb-3 border p-0" >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{% static 'imgs/ja_edited_3.webp' %}" class="img-fluid rounded-start" alt="zdjęcie Jakub Kościelnego">
                            </div>
                            <div class="col-md-8 p-3 ">
                                <div class="card-body">
                                <h5 class="card-title">
                                    {{whoami.content.title}}

                                </h5>
                                <p class="card-text" style="text-align: justify;">
                                    
                                    {{whoami.content.first_info}}
                                    <ul>
                                            {% for studied in whoami.content.studied_about %}
                                            <li>{{studied}}</li>
                                            {% endfor %}
                                        <li style="list-style-type:none">
                                            <ul>
                                                    {% for language in whoami.content.programming_languages %}
                                                        <li>{{language}}</li>
                                                    {% endfor %}

                                            </ul>
                                        </li>

                                    </ul>
                                    
                                        {{whoami.content.end_info}}

                                </p>
                                <p class="card-text"><small class="text-muted">
                                    {{whoami.content.date_of_adding}}

                                </small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="row pt-4 d-none" id="offer">
      
                    <div class="card h-100" >
                        <div class="card-body">
                        <h5 class="card-title ">What I offer?</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary"></a>
                        </div>
                    </div>
  
                </div>

                <div class="row pt-4 d-none" id="cv">
                    {% if cv%}
                    <div class = "rounded ">
                        <! - introduction ->
                        <div class = "row">
                            <div class = "col-4 p-0">
                                <img src = "{% static 'imgs/ja_edited_3.webp' %}" style = "max-height: 300px;" class = "img-fluid rounded" alt = "Jakub Kościelny">
                            </div>
                            <div class = "col-8 p-4">
                                <h5 class = "card-title text-center"> - CV - </h5>
                                <div>
                                    <h2> Jakub Kościelny </h2>
                                    <h5>
                                        E-mail: <b> kuba1095@gmail.com </b>
                                    </h5>
                                    <h5>
                                        {{cv.content.telephone_text}} <b> +48 500 471 619 </b>
                                    </h5>
                                    <h5>
                                        {{cv.content.date_of_birth}}<b> 02/23/1999 </b>
                                    </h5>
                                    <h5>
                                        {{cv.content.town}}:<b> Kaczyce </b>
                                    </h5>
                                </div>
                            </div>
                            
                        </div>
                        <! - professional experience ->
                        <div class = "row mb-4">
                            <div class = "col-12 text-center border-bottom fw-bold mt-4">
                                <h4> {{cv.content.work_experience_title}} </h4>
                            </div>
                        </div>
                        <div class = "row ps-4 pe-4">

                                <ol class = "list-group">


                                    {% for experience in  cv.content.work_experience%}
                                    <li class = "list-group-item d-flex justify-content-between align-items-start mb-3 border-top">
                                        
                                        <div class = "ms-2 me-auto">
                                            <div class = "fs-6">{{experience.period}}</div>
                                            <div class = "fw-bold">{{experience.title}}</div>
                                            {{experience.where}}
                                        </div>
                                      
                                    </li>
                                    {% endfor %}
                                </ol>

                        </div>
                    
                        <! - education ->
                        <div class = "row mb-4">
                            <div class = "col-12 text-center border-bottom fw-bold mt-4">
                                <h4> {{cv.content.education_title}} </h4>
                            </div>
                        </div>

                        <div class = "row ps-4 pe-4">
                            <ol class = "list-group">

                                {% for education in cv.content.education %}
                                <li class = "list-group-item d-flex justify-content-between align-items-start mb-3">
                                    
                                    <div class = "ms-2 me-auto">
                                        <div class = "fs-6">{{education.period}}</div>
                                        <div class = "fw-bold">{{education.where}}</div>
                                        {% if education.major %}<p class = "m-0"> {{education.major_title}} {{education.major}} </p>{% endif %}
                                        {% if  education.specialization%}<p class = "m-0"> {{education.specialization_title}}: {{education.specialization}} </p>{% endif %}
                                        <p class = "m-0"> {{education.education_level_title}}{{education.education_level}} </p>
                                    </div>
                                  
                                </li>
                                {% endfor %}
                            </ol>
                        </div>

                        <! - skills ->
                        <div class = "row mb-4">
                            <div class = "col-12 text-center border-bottom fw-bold mt-4">
                                <h4> {{cv.content.skills_title}} </h4>
                            </div>
                        </div>

                        <div class = "row">

                                <! - programmatically ->
                                <div class = "col-md-3 col-sm-6">
                                    {% for skill in cv.content.skills.programming %}
                                    <p class = "border rounded m-2 p-2"> {{skill}}</p>
                                    {% endfor %}
                                    
                                </div>
                                <! - operationally ->
                                <div class = "col-md-3 col-sm-6">
                                    {% for skill in cv.content.skills.systems %}
                                    <p class = "border rounded m-2 p-2"> {{skill}}</p>
                                    {% endfor %}
                                </div>
                                <! - network ->
                                <div class = "col-md-3 col-sm-6">
                                    {% for skill in cv.content.skills.network %}
                                    <p class = "border rounded m-2 p-2"> {{skill}}</p>
                                    {% endfor %}
                                    
                                </div>
                                <! - other ->
                                <div class = "col-md-3 col-sm-6">
                                    {% for skill in cv.content.skills.others %}
                                    <p class = "border rounded m-2 p-2"> {{skill}}</p>
                                    {% endfor %}

                                </div>

                                


                        </div>
                        

                        <! - trainings, courses, certificates ->
                        <div class = "row mb-4">
                            <div class = "col-12 text-center border-bottom fw-bold mt-4">
                                <h4> {{cv.content.training_courses_title}} </h4>
                            </div>
                        </div>

                        <div class = "row ps-4 pe-4">
                            <ol class = "list-group">

                                {% for training_course in cv.content.training_courses %}
                                <li class = "list-group-item d-flex justify-content-between align-items-start mb-3 border-top">
                                    
                                    <div class = "ms-2 me-auto">
                                        <div class = "fs-6"> {{training_course.date}} </div>
                                        <div class = "fw-bold"> {{training_course.name}} </div>

                                    </div>
                                
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                        <! - interests -><div class = "row mb-4">
                            <div class = "col-12 text-center border-bottom fw-bold mt-4">
                                <h4> {{cv.content.interests_title}} </h4>
                            </div>
                        </div>
                        <div class = "row ps-2 pe-2">
                                    {% for interest in cv.content.interests %}
                                    <div class = "col-sm-6 col-md-3">
                                        <div class = "border rounded p-2 m-1"> {{interest}} </div>
                                    </div>
                                    {% endfor %}
                        </div>
                        <! - links ->
                        <div class = "row mb-4">
                            <div class = "col-12 text-center border-bottom fw-bold mt-4">
                                <h4> {{cv.content.links_title}} </h4>
                            </div>
                        </div>
                        <div class = "row p-4">
                            <div class = "col-4">
                                <h6> GitHub </h6>
                                <a class="link-primary" href="{{cv.content.links.github}}"> {{cv.content.links.github}} </a>
                            </div>
                            
                            <div class = "col-4">
                                <h6> Microsoft Docs </h6>
                                <a class="link-primary" href="h{{cv.content.links.microsoft}}"> {{cv.content.links.microsoft}} </a>
                            </div>

                            <div class = "col-4">
                                <h6> Linkedin </h6>
                                <a class="link-primary" href="h{{cv.content.links.linkedin}}"> {{cv.content.links.linkedin}} </a>
                            </div>
                            
                        </div>
                        <! - consent to data processing ->
                    </div>
                    {% endif %}
                </div>

                <div class="row pt-4 d-none g-4" id="contact">
                    <div class="col-sm-6">
                        <div class="card h-100" >
                            <img src="{% static 'imgs/calling.webp' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title ">
                                    {% if contact %}
                                    {{contact.content.phone_number_title}}
                                    {% endif %}
                                </h5>
                                <p class="card-text ">
                                    {% if contact %}
                                    {{contact.content.phone_number_info}}
                                    {% endif %}
                                </p>
                                <a href="tel:+48500471619" class="btn btn-primary" >
                                    {% if contact %}
                                    {{contact.content.phone_number}}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card h-100" >
                            <img src="{% static 'imgs/email.webp' %}" class="card-img-top" alt="zdjęcie komputera z mailem">
                            <div class="card-body">
                                <h5 class="card-title ">
                                    {% if contact %}
                                    {{contact.content.email_title}}
                                    {% endif %}
                                </h5>
                                <p class="card-text ">
                                    {% if contact %}
                                    {{contact.content.email_info}}
                                    {% endif %}
                                </p>
                                <a href="mailto:kuba1095@gmail.com" class="btn btn-primary" >
                                    {% if contact %}
                                    {{contact.content.email}}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                    

                </div>

        </section>
        
    </main>

    <footer class="container-fluid">

        <div class="row row-cols-6 py-5 mt-5 border-top border-bottom">
            <div class="col-4 ms-auto">
                <p class="text-muted ">
                    {% if whoami %}
                    {{whoami.content.who_made_page}}
                    {% endif %}
                </p>
                <p>©Copyright 2022</p>
            </div>
        
            <div class="col mx-auto">
                <h5 class="">
                    {% if whoami %}
                    {{whoami.content.additional_information}}
                    {% endif %}
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://github.com/Qbason" class="nav-link p-0 text-muted">GitHub <i class="bi bi-github"></i></a></li>
                    <li class="nav-item mb-2"><a href="https://docs.microsoft.com/en-gb/users/jakubkocielny/" class="nav-link p-0 text-muted">Microsoft <i class="bi bi-microsoft"></i></a></li>
                </ul>
            </div>
        
            <div class="col me-auto">
                <h5 class="">
                    {% if whoami %}
                    {{whoami.content.localization}}
                    {% endif %}
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">Jakub Kościelny</li>
                    <li class="nav-item mb-2">43-417 Kaczyce</li>
                    <li class="nav-item mb-2">Dworkowa 12</li>
                </ul>
            </div>

        </div>
    </footer>
</body>
<script src="{% static 'js/bootstrap.js' %}" async></script>
<script src="{% static 'js/popper.min.js' %}" async></script>
<script>
    //calculate the age
    const year = 1999;
    var new_object_date_for_years = new Date();
    let elements = document.getElementsByClassName("years")
    for (index in elements){
        elements[index].innerHTML = (new_object_date_for_years.getFullYear()-year).toString();
    }

    //when the page wii be loaded
    window.addEventListener('load',
        (event)=>{

            create_events_for_dict();
            show_first_content_or_specific();
            
        }
    );


    {


        //create dictionary with references to specific divs
        let dict_of_ids = {
            "one":"whoami",    
            "two":"offer",    
            "three":"cv",    
            "four":"contact",  

        };



        //show content
        show_content_by_event = (evt) =>{
            //hide the earlier
            hide_content()
            //show only specific content
            document.getElementById(dict_of_ids[evt.target.id]).classList.remove("d-none");


        }

        show_content_by_name = (name)=>{

            //hide all
            hide_content()
            //show only specific content
            document.getElementById(name).classList.remove("d-none")


        }

        //hide content
        hide_content = () =>{
                
            for(key in dict_of_ids){
                document.getElementById(dict_of_ids[key]).classList.add("d-none");
            }      
        }

        //create event for specific elements on webpage
        create_events_for_dict = () =>{
            
            //creating events
            for(key in dict_of_ids){

                    document.getElementById(key).addEventListener("click",show_content_by_event);

            }
        }
        //show first content
        show_first_content = () =>{
            let first_key_in_dict = Object.keys(dict_of_ids)[0]
            document.getElementById(dict_of_ids[first_key_in_dict]).classList.remove("d-none");

        }

        //perform only designated content

        //check link, if it contains page (another)
        check_link_for_tab = (url) =>{

            array_from_splitedurl = url.split("#");
            if(array_from_splitedurl.length==2){
                
                tab = array_from_splitedurl[1]

                //sprawdzamy, czy dany tab istnieje
                if(Object.values(dict_of_ids).indexOf(tab)>-1){
                    //console.log("We got this: "+tab)
                    return tab;
                }
                

            }

            return null;

        };
        
        //checking, if someone hass been forwared on specific page
        show_first_content_or_specific = () =>{
            let url = window.location.href;
            result_from_check_link = check_link_for_tab(url);

            //podejmujemy decyzję, czy pokazać defaultowy kontent, czy nie
            if(result_from_check_link!=null){
                show_content_by_name(result_from_check_link)
            }else{
                hide_content()
                show_first_content()
            }
        }

        


    }


    //function, which refresh time on page
    refresh_time_parent = () =>{
        //reference to component
        var element = document.getElementById("czas")
        //create object Date
        var currenttime = new Date()
        refresh_time = () =>{
            //change value for object
            currenttime.setSeconds(currenttime.getSeconds()+1)
            //changing content for element on webpage
            element.innerHTML = currenttime.getHours()+":"+((currenttime.getMinutes()<10?'0':'')+currenttime.getMinutes())+":"+((currenttime.getSeconds()<10?'0':'')+currenttime.getSeconds())
        }
    }

    //first run parent to create object, which will be changing
    refresh_time_parent()
    var t = setInterval(refresh_time,1000)

    

</script>
      

</html>